In [1]:
import pandas as pd
import json

# Importing and filtering Data

In [16]:
cols =['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','Origin','Dest','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']
airport_codes=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

# 2016 flight data processing
df = pd.read_csv('flight data/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv',usecols=cols)
df_all= df.loc[df['Origin'].isin(airport_codes) & df['Dest'].isin(airport_codes)]

In [18]:
for i in range(2,13):
    df = pd.read_csv('flight data/2016/On_Time_On_Time_Performance_2016_'+str(i)+'/On_Time_On_Time_Performance_2016_'+str(i)+'.csv',usecols=cols)
    df_temp = df.loc[df['Origin'].isin(airport_codes) & df['Dest'].isin(airport_codes)]
    df_all = pd.concat([df_all,df_temp])

In [19]:
df_all.to_csv('data/flightData2016',index=False)

In [24]:
# 2017 flight data processing
df = pd.read_csv('flight data/2017/On_Time_On_Time_Performance_2017_1/On_Time_On_Time_Performance_2017_1.csv',usecols=cols)
df_all= df.loc[df['Origin'].isin(airport_codes) & df['Dest'].isin(airport_codes)]

In [26]:
for i in range(2,13):
    df = pd.read_csv('flight data/2017/On_Time_On_Time_Performance_2017_'+str(i)+'/On_Time_On_Time_Performance_2017_'+str(i)+'.csv',usecols=cols)
    df_temp = df.loc[df['Origin'].isin(airport_codes) & df['Dest'].isin(airport_codes)]
    df_all = pd.concat([df_all,df_temp])

In [27]:
df_all.to_csv('data/flightData2017',index=False)

# Data Preprocessing dropping NaN rows

In [10]:
df = pd.read_csv('data/flightData2017')
df = df.dropna()
df = df.reset_index(drop=True)

In [11]:
df.to_csv('data/flightData2017',index=False)

# Weather data preprocessing

In [27]:
# reference data
sample = {"data": 
                {"weather": [{"mintempC": "5", "maxtempF": "51", "sunHour": "7.5", "mintempF": "42", "maxtempC": "11",
                    "hourly": [
                        {"windspeedKmph": "11", "FeelsLikeF": "46", "winddir16Point": "NW", "FeelsLikeC": "8", 
                            "DewPointC": "8", "windspeedMiles": "7", "DewPointF": "47", "HeatIndexF": "49", "cloudcover": "100", 
                            "HeatIndexC": "10", "precipMM": "0.1", 
                            "weatherIconUrl": [{"value": "http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}], 
                            "WindGustMiles": "11", "pressure": "1023", "WindGustKmph": "17", "weatherDesc": [{"value": "Patchy rain possible"}],
                            "visibility": "10", "weatherCode": "176", "tempC": "10", "tempF": "49", "WindChillF": "46", "WindChillC": "8", 
                            "winddirDegree": "318", "humidity": "91", "time": "0"},
                        {"windspeedKmph": "13", "FeelsLikeF": "42", "winddir16Point": "NW", "FeelsLikeC": "6",
                            "DewPointC": "7", "windspeedMiles": "8", "DewPointF": "44", "HeatIndexF": "46", "cloudcover": "100",
                            "HeatIndexC": "8", "precipMM": "0.0",
                            "weatherIconUrl": [{"value": "http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}], 
                            "WindGustMiles": "13", "pressure": "1023", "WindGustKmph": "22", "weatherDesc": [{"value": "Patchy rain possible"}], 
                            "visibility": "10", "weatherCode": "176", "tempC": "8", "tempF": "46", "WindChillF": "42", "WindChillC": "6", 
                            "winddirDegree": "317", "humidity": "92", "time": "100"},
                        {"windspeedKmph": "14", "FeelsLikeF": "38", "winddir16Point": "NW", "FeelsLikeC": "3", 
                            "DewPointC": "5", "windspeedMiles": "9", "DewPointF": "41", "HeatIndexF": "43", "cloudcover": "100", 
                            "HeatIndexC": "6", "precipMM": "0.0", 
                            "weatherIconUrl": [{"value": "http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}], 
                            "WindGustMiles": "16", "pressure": "1023", "WindGustKmph": "26", "weatherDesc": [{"value": "Overcast"}], 
                            "visibility": "10", "weatherCode": "122", "tempC": "6", "tempF": "43", "WindChillF": "38", "WindChillC": "3", 
                            "winddirDegree": "315", "humidity": "92", "time": "200"}],
                        "totalSnow_cm": "0.0", "date": "2016-01-01", 
                        "astronomy": [{"moon_phase": "Waning Gibbous", "moonrise": "12:52 AM", "moonset": "01:11 PM", "sunset": "06:40 PM", "moon_illumination": "76", "sunrise": "08:42 AM"}], 
                        "uvIndex": "0"},]
                }
            }

In [23]:
f = open('weather data/ATL/2016-1.json','r')
data = json.load(f)

In [53]:
df_all = pd.json_normalize(
    sample['data']['weather'][0],
    record_path=['hourly'],
    meta=['date'],
    errors='ignore'
)
df_all['airport']='XYZ'
df_all = df_all[['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover',
'DewPointF','WindGustKmph','tempF','WindChillF','humidity','date','time','airport']]

In [54]:
airport_codes=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']
weather_fields = ['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover',
'DewPointF','WindGustKmph','tempF','WindChillF','humidity','date','time','airport']

for air_code in airport_codes:
    for i in range(1,13):
        f = open('weather data/'+air_code+'/2017-'+str(i)+'.json','r')
        # f = open('weather data/ATL/2016-1.json','r')
        data = json.load(f)
        for day in data['data']['weather']:
            df = pd.json_normalize(
                day,
                record_path=['hourly'],
                meta=['date'],
                errors='ignore'
            )
            df['airport']=air_code
            df_all = pd.concat([df_all,df[weather_fields]])

In [2]:
df_all.to_csv('data/weatherData2017',index=False)

NameError: name 'df_all' is not defined

In [32]:
# rounding DepTime 
df = pd.read_feather('data/flightData2016')

In [26]:
def label_row(time):
    ti = int(time)
    hr = ti//100
    min = ti%100
    if(min> 30):
        if(hr == 23): return 2300
        return (hr+1)*100
    else: 
        return hr*100

df['roundTime'] = df.apply (lambda row: label_row(row['DepTime']), axis=1)
df['DepTime'] = df['DepTime'].astype(int)
df['ArrTime'] = df['ArrTime'].astype(int)

In [33]:
df.loc[(df['roundTime']==23),'roundTime']=2300

In [34]:
df.to_feather('data/flightData2017')

# Merging 2016 Flight and Weather Data

In [40]:
flight = pd.read_feather('data/flightData2016')
weather = pd.read_csv('data/weatherData2016')

In [39]:
result = pd.merge(flight,weather,how='inner',left_on=['FlightDate','roundTime','Origin'],right_on=['date','time','airport'])

In [37]:
result.to_feather('data/merge2016')

In [42]:
merge_2016 = pd.read_feather('data/merge2016')

In [43]:
merge_2016

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport
0,2016,1,1,1,2016-01-01,14747,SEA,12478,JFK,745,...,1030,0,23,8,34,29,65,2016-01-01,800,SEA
1,2016,1,1,1,2016-01-01,14747,SEA,14107,PHX,820,...,1030,0,23,8,34,29,65,2016-01-01,800,SEA
2,2016,1,1,1,2016-01-01,14747,SEA,14771,SFO,724,...,1030,0,23,8,34,29,65,2016-01-01,800,SEA
3,2016,1,1,1,2016-01-01,14747,SEA,11292,DEN,759,...,1030,0,23,8,34,29,65,2016-01-01,800,SEA
4,2016,1,1,1,2016-01-01,14747,SEA,12266,IAH,738,...,1030,0,23,8,34,29,65,2016-01-01,800,SEA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928343,2016,4,12,25,2016-12-25,11292,DEN,11057,CLT,2359,...,1005,0,25,39,31,21,80,2016-12-25,0,DEN
928344,2016,4,12,25,2016-12-25,11292,DEN,13204,MCO,2355,...,1005,0,25,39,31,21,80,2016-12-25,0,DEN
928345,2016,4,12,27,2016-12-27,11292,DEN,13204,MCO,2355,...,1028,0,14,16,23,17,67,2016-12-27,100,DEN
928346,2016,4,12,3,2016-12-03,12889,LAS,14747,SEA,2115,...,1023,0,12,23,46,45,28,2016-12-03,2100,LAS
928347,2016,4,12,10,2016-12-10,12889,LAS,14747,SEA,2115,...,1017,77,28,8,48,47,46,2016-12-10,2100,LAS